.container {
  padding: 0 16px;
  max-width: 400px;
  min-height: 75vh;
}

@media (min-width: 375px) {
  .container {
    padding: 0 24px;
  }
}

@media (min-width: 768px) {
  .container {
    padding: 0 48px;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 800px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 64px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}
